*
{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body
{
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #172a3a;

    h1
    {
        color: #09BC8A;
    }

    #container
    {
        height: 400px;
        width: 400px;
        background: #508991;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 14px;

        form
        {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            color: #09BC8A;
            border: none;


            select 
            {
                padding: 5px;
                border-radius: 4px;
                background-color: #508991;
                color: #f1f1f1;
            }
        }

        input[type=text] 
        {
            padding: 5px 10px;
            margin-top: 10px;
            margin-bottom: 10px;
            background-color: #f1f1f1;
            border-radius: 4px;
            border: 1px solid #09BC8A;
        }

        input[type=button] 
        {
            background-color: #09BC8A;
            border: none;
            color: #f1f1f1;
            padding: 16px;
            text-decoration: none;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 4px;
            
            &:hover
            {
                background-color: #055e45; 
            }
        }

    }
}
